body{
    background: grey;
}
/*Necesarios si se usa float*/
.clearfix:before,
.clearfix:after{
    content: '';
    display: table;
}

.clearfix:after{
    clear: both;
}

div.presencial{
    float: left;
    width: 48%;
}
div.remoto{
    width: 48%;
    float: right;
}
/*Centrar imágenes*/
div.remoto a img{
    display: block;
    margin: auto;
}

footer{
    width: 84%;
    margin: 12px auto 0 15%;
    text-align: center;
    background: white;
    padding: 2% 2% 2% 2%;
    box-sizing: border-box; /*Mantiene el tamaño original*/
}
div.contenedor{
    background: white;
    /*para centrar*/
    width: 80%;
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 0 auto 0 15%;
    padding: 2% 2% 2% 2%;
}

table{
    margin-left: auto;
    margin-right: auto;
    
}
table  *{
    text-align: center;
    background: rgb(223, 128, 74);
    color: aliceblue;
    
}
table tfoot td{
    text-align: center;
}
table caption, table thead th, tbody tr td, tfoot td{
    border: 2px double black;
}

div.logo{
    float: left;
}

img.logoSuperior{
    height: 3em;
}
img.logoPrincipal{
    height: 8em;
    padding: 0 15px 0 5px;
}
img.logoAny{
    height: 1.5em; 
}

h1, h2, h3, h4{
    color: white;
    background: rgb(226, 113, 47);
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    text-align: center;
    letter-spacing: 4px;
    padding: 2px 0 2px 0;
}

p,table{
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul{
    list-style: none;
}
nav.navegacion li{
    background: rgb(226, 113, 47);
}

nav.navegacion ul li a{
    color: white;
}
nav.navegacion ul li a{
    text-decoration: none;
}
ul li{
    font-family: 'Merriweather', serif;
    padding: 10px 9px 0 0;
}
nav.navegacion ul li a:focus,
nav.navegacion ul li a:visited,
nav.navegacion ul li a:active{
    color: white;
}
/*Paso por encima*/
nav.navegacion ul li a:hover{
    background-color: black
}


div.navegacion{
    background: rgb(226, 113, 47);
    position: fixed;
    font-family: 'Merriweather', serif;
    width: 15%;
    height: 100%;
    left: 0;
    top: 0;
}