body{
    background: grey;
}
footer{
    margin-top: 15px;
    text-align: center;
    background: white;
    padding-top: 4px;
    padding-bottom: 4px;
}
div.contenedor{
    background: white;
    /*para centrar*/
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
}
table  *{
    text-align: center;
}
table 



table tfoot td{
    text-align: center;
}

img.logoSuperior{
    height: 1em;
}
img.logoPrincipal{
    height: 12em;
}
img.logoAny{
    height: 3em;
}
h2{
    font-size: 250%;
}

h3{
    font-size: 150%;
}
h4{
    font-size: 120%;
}
h1, h2, h3, h4{
    color: rgb(206, 64, 64);
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

p,table{
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    background: rgb(226, 113, 47);
    font-family: 'Anton', sans-serif;
    font-size: 1.7em;
}
nav ul{
    list-style: none;
}
nav.navegacion li{
    display: inline;
    position: relative;
    
}

nav.navegacion ul li a{
    color: white;
}
nav.navegacion ul li a{
    text-decoration: none;
}
ul li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav.navegacion ul li a:focus,
nav.navegacion ul li a:visited,
nav.navegacion ul li a:active{
    color: white;
}
/*Paso por encima*/
nav.navegacion ul li a:hover{
    background-color: black
}
nav.navegacion{
    padding-top: 5px;
    padding-bottom: 5px;
}