img.logoSuperior{
    height: 1em;
}
img.logoPrincipal{
    height: 12em;
}
img.logoAny{
    height: 3em;
}
h2{
    font-size: 250%;
}

h3{
    font-size: 150%;
}
h4{
    font-size: 120%;
}
h1, h2, h3, h4{
    color: rgb(206, 64, 64);
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}

p{
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}

nav.navegacion{
    background: rgb(226, 47, 47);
    font-family: 'Anton', sans-serif;
}
nav ul{
    list-style: none;
}
nav.navegacion li{
    display: inline;
    position: relative;
    font-size: 30px;
}

nav.navegacion ul li a{
    color: white;
}
nav.navegacion ul li a{
    text-decoration: none;
}
ul li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav.navegacion ul li a:focus,
nav.navegacion ul li a:visited,
nav.navegacion ul li a:active{
    color: white;
}
/*Paso por encima*/
nav.navegacion ul li a:hover{
    background-color: black
}